<footer col-lg-12>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="about col-lg-5">
                <h1>About</h1>
                <p>When I was browsing the Internet about topics related to swimming I found them either displayed
                    in an unorganized way and in a bad color format or I found them incorrect, so the idea of this
                    site came from.
                </p>
            </div>
            <div class="refr col-lg-2">
                <h1>Reference</h1>
                <ul>
                    <li><a href="https://stylesatlife.com/articles/types-of-swimming-strokes/">Type of swimming</a>
                    </li>
                    <li><a href="https://www.healthline.com/health/benefits-of-swimming#benefits">swimming
                            benefits</a></li>
                    <li><a href="https://en.m.wikipedia.org/wiki/Farida_Osman">farida osman</a></li>
                    <li><a href="https://en.m.wikipedia.org/wiki/Michael_Phelps">Michael Phelps</a></li>
                    <li><a href="https://en.m.wikipedia.org/wiki/Rikako_Ikee">Rikako Ikee</a></li>
                </ul>
            </div>
            <div class="copy col-lg-3">
                <h1>copyright</h1>
                <p>© Copyright<b> SWIMMING</b>. All Rights Reserved</p>
                <p>Designed by <a href="https://www.facebook.com/george.ashraf.359"> Swimmer George Ashraf </a></p>


            </div>

        </div>
    </div>

</footer>
