<section class="swimhero bg " id="swimhero">
    <div class="head animate__animated animate__animated animate__flash col-lg-12">
        <img src="assets/images/cloud.png" alt="">
        <h1>Swimming Hero</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="hero animate__animated animate__zoomInUp col-lg-3 col-md-3">
                <img src="assets/images/hero1.jpg" alt="">
                <div class="caption">
                    <h1>farida osman</h1>
                    <p id="p1">Egyptian swimmer</p>
                    <p id="p2">At the 2018 Mediterranean Games in Tarragona, Spain, Osman competed for Egypt in four
                        events
                        and won three medals, two gold and one silver.[28] In the 50m freestyle, Osman won the gold
                        medal, with the new Mediterranean Game record of 24.83s.[29] In the 50m butterfly, Osman
                        also won the gold medal, with the new Mediterranean Game record of 25.48s.[30] In the 100m
                        butterfly, Osman won the silver medal, with the time of 58.51s.[31] In the 100m freestyle,
                        Osman qualified for but did not compete in the finals. She was the fourth most successful
                        individual athlete at the Games</p>
                </div>
            </div>
            <div class="hero animate__animated animate__zoomInUp col-lg-3 col-md-3">
                <img src="assets/images/hero2.jpg" alt="">
                <div class="caption">
                    <h1>Michael Phelps</h1>
                    <p id="p1">American swimmer</p>
                    <p id="p2">At the World Championship Trials for the 2001 World Aquatics Championships, on March
                        30, Phelps broke the world record in the 200-meter butterfly to become, at 15 years and 9
                        months, the youngest male ever to set a world record in swimming. Previously the youngest
                        male had been Ian Thorpe, who captured the 400-meter freestyle world record at 16 years, 10
                        months.[45] At the World Championships in Fukuoka, Japan, Phelps broke his own world record
                        in the 200-meter butterfly while en route to become a world champion for the first time.[46]
                    </p>
                </div>
            </div>
            <div class="hero animate__animated animate__zoomInUp col-lg-3 col-md-3">
                <img src="./assets/images/hero3.png" alt="">
                <div class="caption">
                    <h1>Rikako Ikee</h1>
                    <p id="p1">Japanese swimmer</p>
                    <p id="p2">Two years after her Leukemia diagnosis, Ikee qualified for the 4x100 medley relay in
                        the 2020 Summer Olympics in Tokyo by winning the 100-meter butterfly event in the Japanese
                        Olympic trials with a time of 57.77 seconds.[17] She helped the team reach the finals of the
                        4x100 medley relay.</p>
                </div>
            </div>
        </div>
    </div>
</section>
