<nav class="navbar navbar-expand-lg ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/home"> <i class="fa-solid fa-droplet"></i>Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/typeof"> <i class="fa-solid fa-droplet"></i>Type of siwimming <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="/swimbenefit"> <i class="fa-solid fa-droplet"></i>swimming benefits</a>


            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="/swimhero"> <i class="fa-solid fa-droplet"></i>Swimming Hero</a>


            </li>

        </ul>

    </div>
    <a class="navbar-brand"><i class="fa-solid fa-person-swimming"></i></a>

</nav>
