<app-navbar></app-navbar>
<section class="swimbenfit bg" id="swimbenfit">
    <div class="head animate__animated animate__animated animate__flash col-lg-12">
        <img src="assets/images/cloud.png" alt="">
        <h1>Swimming Benefits</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="number1 col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <p>01</p>
                        <div class="line col-lg-8  col-sm-8"></div>
                    </div>
                </div>
            </div>
            <div class="benefit1 animate__animated animate__zoomIn col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class=" text col-lg-6  col-sm-6">
                            <h1 id="h1">Improves your sleep</h1>
                            <p class="p">
                                Swimming may have the power to help you sleep better at night. In a studyTrusted
                                Source on older adults with insomnia, participants reported both a boost in quality
                                of life and sleep after engaging in regular aerobic exercise.
                            </p>
                            <p class="p">
                                Nearly 50 percentTrusted Source of older persons experience some level of insomnia,
                                so this is excellent news. The study focused on all types of aerobic exercise,
                                including the elliptical, Stairmaster, bicycle, pool, and exercise videos.
                            </p>
                            <p class="p">
                                Swimming is accessible to a wide range of people who deal with physical issues that
                                make other exercises, like running, less appealing. That can make swimming a good
                                choice for older adults looking to improve their sleep.
                            </p>
                        </div>
                        <div class="image col-lg-6  col-sm-6">
                            <img src="assets/images/alarm.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="number2 col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="line col-lg-8  col-sm-8"></div>
                        <p>02</p>
                    </div>
                </div>
            </div>
            <div class="benefit2 animate__animated animate__zoomIn col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="image col-lg-6  col-sm-6">
                            <img src="./assets/images/mood.png" alt="">
                        </div>
                        <div class="text col-lg-6  col-sm-6">
                            <h1 id="h1">Boosts your mood</h1>
                            <p class="p">
                                ResearchersTrusted Source evaluated a small group of people with dementia, and saw
                                an improvement in mood after participating in a 12-week aquatic program. Swimming
                                and aquatic workouts aren’t just psychologically beneficial for people with
                                dementia. Exercise has been shown to boost mood in other people, as well.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="number3 col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <p>03</p>
                        <div class="line col-lg-8  col-sm-8"></div>
                    </div>
                </div>
            </div>
            <div class="benefit1 animate__animated animate__zoomIn col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text col-lg-6  col-sm-6">
                            <h1 id="h1">Torches calories</h1>
                            <p class="p">Swimming is an efficient way to burn calories. A 160-pound person burns
                                approximately
                                423 calories an hour while swimming laps at a low or moderate pace. That same person
                                may burn up to 715 calories an hour swimming at a more vigorous pace. A 200-pound
                                person doing the same activities would burn between 528 and 892 calories an hour. A
                                240-pound person might burn between 632 and 1,068.</p>

                            <p class="p"> To compare these numbers to other popular low-impact activities, that same
                                160-pound
                                person would only burn around 314 calories walking at 3.5 miles per hour for 60
                                minutes. Yoga might burn just 183 calories per hour. And the elliptical trainer
                                might burn just 365 calories in that hour.</p>
                        </div>
                        <div class="image col-lg-6  col-sm-6">
                            <img id="donate" src="assets/images/calories.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="number4 col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="line col-lg-8  col-sm-8"></div>
                        <p>04</p>
                    </div>
                </div>
            </div>
            <div class="benefit2 animate__animated animate__animated animate__zoomIn col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="image col-lg-6  col-sm-6">
                            <img src="assets/images/stress.png" alt="">
                        </div>
                        <div class="text col-lg-6  col-sm-6">
                            <h1 id="h1">Helps manage stress</h1>
                            <p class="p">Researchers surveyed a group of swimmers immediately before and after
                                swimming at a
                                YMCA in New Taipei City, Taiwan. Of the 101 people surveyed, 44 reported being
                                mildly depressed and feeling stress related to fast-paced life. After swimming, the
                                number of people who still reported feeling stressed decreased to just eight.</p>
                            <p class="p">
                                While more research needs to be done in this area, the researchers conclude that
                                swimming is a potentially powerful way to relieve stress quickly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
