<app-navbar></app-navbar>

<section class="typeof bg" id="typeof">
    <div class="head  animate__animated animate__flash col-lg-12">
        <img src="assets/images/cloud.png" alt="">
        <h1>type of swimming</h1>
    </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="space col-lg-1 "></div>
            <div class="type1 animate__animated  animate__rotateInUpRight col-lg-11 " id="one">
                <div class="container-fluid">
                    <div class="row  ">
                        <div class="text col-lg-6  col-sm-6">
                            <h2>Butterfly stroke</h2>
                            <p>The name comes from how a person’s arms move when performing this stroke.</p>
                        </div>
                        <div class="img col-lg-6   col-sm-6">
                            <img src="assets/images/butterfly.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="type2  animate__animated  animate__rotateInUpLeft col-lg-11" id="two">
                <div class="container-fluid">
                    <div class="row">
                        <div class="img col-lg-6  col-sm-6">
                            <img src="assets/images/front crawl.jpeg" alt="">
                        </div>
                        <div class="text col-lg-6  col-sm-6">
                            <h2>Front crawl</h2>
                            <p>It is the most common stroke to do swimming. Out of all the types of strokes, this
                                feels most natural, and you can do it in the swimming pool or any water body. You
                                need to swim straight on your torso by kicking your legs. But it is necessary to
                                control your breathing as your head remains submerged during some strokes.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="space col-lg-1"></div>
            <div class="space col-lg-1"></div>
            <div class="type1 animate__animated  animate__rotateInUpRight col-lg-11" id="three">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text col-lg-6  col-sm-6">
                            <h2>Breaststroke</h2>
                            <p>For a beginner, breaststroke might be a more comfortable option and a much slower
                                option than freestyle. It only differs in the way you propel your body to move
                                forward.</p>
                        </div>
                        <div class="img col-lg-6  col-sm-6">
                            <img src="assets/images/breaststroke.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="type2  animate__animated  animate__rotateInUpLeft col-lg-11" id="four">
                <div class="container-fluid">
                    <div class="row">
                        <div class="img col-lg-6  col-sm-6">
                            <img src="assets/images/backstroke.jpeg" alt="">
                        </div>
                        <div class="text col-lg-6  col-sm-6">
                            <h2>Backstroke</h2>
                            <p>Unlike the other stokes in swimming, backstroke doesn’t let your face get into the
                                water as you need to swim with your back in the water. It is just a mirror image of
                                freestyle where you are on your back, making the strokes.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space col-lg-1"></div>
            <div class="space col-lg-1"></div>
            <div class="type1  animate__animated  animate__rotateInUpRight col-lg-11" id="five">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text col-lg-6  col-sm-6">
                            <h2>Sidesroke</h2>
                            <p>This is a type of stroke not regularly used in swimming competitions hence not so
                                popular as the others. Lifeguards mostly use it as sidestroke allows you to carry
                                another person with you. As the name suggests, you swim on your side, pushing
                                yourself forwar</p>
                        </div>
                        <div class="img col-lg-6  col-sm-6">
                            <img src="assets/images/sidestrock.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
